html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  width: 100%;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

html.dark {
  background-color: #0d0950;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

.dark .sidebar {
  border-right: 0.5px solid #fff;
}

.screen {
  display: flex;
}
.sidebar {
  height: 98vh;
  width: 20%;
  border-right: 0.5px solid #0d0950;
}

.page {
  width: 80%;
}

.content {
  padding: 2vw;
}

.active {
  background-color: rgba(39, 30, 213, 0.6);
  color: #fff;
}


.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #ff9776;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 0.5vw;
  cursor: pointer;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    display: flex;
    width: 100%;
    background: none;
    flex-direction: column;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}
