html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  width: 100%;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

html.dark {
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.dark .social {
  background-color: rgba(175, 169, 169, 0.3);
}

.dark .nav-links a {
  color: #fff;
}

.dark .active {
  background-color: rgba(175, 169, 169, 0.3);
}

.dark .sidebar {
  border-right: 0.5px solid #fff;
}

.dark .pageHeader {
  border-bottom: 0.5px solid #fff;
}

.social {
  padding: 0.5rem 1rem;
  color: white;
  background-color: rgb(0, 0, 0);
  text-decoration: none;
  height: fit-content;
  width: 50%;
  text-align: center;
}

.screen {
  display: flex;
}

.flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.pageHeader {
  border-bottom: 0.7px solid rgba(0, 0, 0, 0.5);
  padding: 0 2vw 0 2vw;
  display: flex;
  justify-content: space-between;
}

.sidebar {
  height: 98vh;
  width: 16%;
  border-right: 0.7px solid rgba(0, 0, 0, 0.5);
}

.page {
  width: 83%;
}

.content {
  padding: 2vw;
}

.active {
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
}

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #ff9776;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 0.5vw;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    display: flex;
    width: 100%;
    background: none;
    flex-direction: column;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}
