---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const posts = await Astro.glob('./posts/*.md');

const pageTitle = 'My Astro Learning Blogs';
---

<BaseLayout pageTitle={pageTitle} heading={pageTitle}>
  <div>
    {posts.map(post => <BlogPost post={post} />)}
  </div>
</BaseLayout>

<style>
  div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
</style>
