---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const posts = await Astro.glob('./posts/*.md');

const pageTitle = 'My Astro Learning Blogs';
---

<BaseLayout pageTitle={pageTitle} heading={pageTitle}>
  <div class='flex'>
    {posts.map(post => <BlogPost post={post} />)}
  </div>
</BaseLayout>
